server:
  port: 4042

spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      routes:
        - id: patient-service
          uri: http://localhost:4000
          predicates:
            - Path=/patients/**
